a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    /*убираем подчёркивание*/

}

a:after {
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: $gold;
    /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
    margin-top: 2px; // задаем отступ линии от текста (вниз)
    
}

a:hover:after,
a:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
    margin-top: 2px; // задаем отступ линии от текста (вниз)
}

/* if (document.getElementById("filters").style.display == 'block') { 
    document.getElementById("filters").style.display = "none";
  }
  else {
   document.getElementById("filters").style.display = "block";
  }

  function viewDiv(){ 
    document.getElementById("filters").style.display = "block"; 
    }; */