.eggs__container {
    max-width: 100%;
background-color: rgb(235, 239, 245);
}

.eggs__content {

    max-width: 80%;
    margin: 0 auto;

    h3 {
        padding-bottom: 25px;
    }


}

.eggs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: $black;

    .egg {
        display: flex;
        height: 160px;
        vertical-align: middle;

        p {
            display: inline-block;

            margin: auto;

            line-height: 1.2;

            text-align: center;
        }

        a {
            display: inline-block;
        }

        .a-bold {
            font-size: 1.2rem;
            font-weight: 600;

            color: #4973ff;
        }

        .a-gold {
            font-size: 1.2rem;
            font-weight: 600;

            color: rgb(211, 145, 3);
        }
    }




}

.egg {
    border-radius: $small-radius;
    padding: 15px;
    margin: 25px 20px;
    max-width: 200px;

    background-color: $white;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    &__title {
        padding-bottom: 10px;

        color: #4973ff;

        font-size: 2.3rem;
        text-align: center;
    }

    &__subtitle {
        font-size: 1.2rem;
    }

    //box-shadow: ;
}