.eggs__container {
    max-width: 100%;
    background-color: #cecece;
}

.eggs__content {

}

.eggs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



    color: $black;


    &__content {
        max-width: 80%;
        margin: 0 auto;
    }
}

.egg {
    border-radius: $small-radius;
    padding: 15px;
    margin: 25px 20px;
    max-width: 140px;

    background-color: $white;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    &__title {
        padding-bottom: 10px;
        font-size: 1.4rem;
        text-align: center;
    }

    &__subtitle {
        font-size: .8rem;
    }
    //box-shadow: ;
}