.service {

    &__container {
        width: 70%;
        text-align: center;

        padding: 30px 0;

        height: 520px;
    }

    &__title {
        display: block;
        width: 60%;

        padding-bottom: 20px;
        margin: 0px auto;

        line-height: 1.4;
    }

    &__subtitle {
        display: block;
        padding-bottom: 40px;
    }
}


.service-block {

    display: flex;

    &-left {

        button {
            display: block;
            width: 100%;
            
            border-width: 0;
            border-radius: $small-radius;
            margin-bottom: 5px;
            padding: 10px;

            font-size: 1.1rem;
            text-align: left;
        }

        h5 {
            padding: .5rem;
            text-align: left;
        }
    }

    &-right {

    }
}