<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head}}
    
</head>

<body>
    <div class="wrapper">
        {{> nav}}
        {{> main}}
        {{> action}}
        {{> eggs}}
        {{> service}}
        {{> grade}}
        {{> objects}}
        {{> contacts}}
        {{> footer}}
    </div>

    <script src="https://kit.fontawesome.com/9b0e3b9790.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <script src="assets/js/app.min.js"></script>
    
    <!-- <script src="assets/js/components/slick.min.js"></script> -->

</body>

</html>