/* @mixin btn__blue() {
    background: #2e4daa;
    padding: 10px 22px;

    border: none;
    border-radius: $radius;

    font-weight: bolder;
    text-transform: uppercase;
    color: $white;
}

@mixin btn__gold() {
    background: $gold;
    padding: 10px 22px;

    border: none;
    border-radius: $radius;

    font-weight: bolder;
    text-transform: uppercase;
    color: $white;
} */