<section class="eggs__container  _container">

    <div class="eggs__content  _content">

        <h3>
            С 2003 года ООО "Термо-Крым":
        </h3>

        <div class="eggs">

            <div class="egg">
                <p><a class="a-bold">Более чем на 88 </a> объектах выполнены работы по капитальному и текущему
                    ремонтам внутренних и наружных систем теплоснабжения</p>
            </div>

            <div class="egg">
                <p>Поставило и смонтировало <a class="a-bold"> 23 </a> блочных модульных котельных мощностью от 150 кВт до
                    1500 кВт на природном газе и угле</p>
            </div>

            <div class="egg">
                <p><a class="a-bold">Более чем на 70 </a> котельных были произведены пуско-наладочные и
                    режимно-наладочные работы</p>
            </div>
            <div class="egg">
                <p>Исполнено <a class="a-bold">более 61 </a> договора на гидравлическое испытание и промывку систем
                    отопления</p>
            </div>

            <div class="egg">
                <p><a class="a-bold">19 </a> отопительных сезонов производит и поставляет тепловую энергию для объектов
                    социального значения <a class="a-gold"> Республики Крым</a></p>
            </div>

            <div class="egg">
                <p>Смонтировано <a class="a-bold"> 34 </a> котельных на твердом топливе и на природном газе</p>
            </div>

            <div class="egg">
                <p>Установило <a class="a-bold"> 4 </a> блочно-модульных газовых котельных собственного производства</p>
            </div>

            <div class="egg">
                <p>Выполнено строительство более <a class="a-bold"> 18 </a> подводящих газопроводов</p>
            </div>

        </div>

    </div>

</section>