<section class="eggs__container  _container">

    <div class="eggs__content  _content">

        <h3>
            За 19 лет работы мы сделали много, реально много - прям завались
        </h3>
        <h4>
            Сами посмотрите, мы ничего не придумываем - факты налицо
        </h4>

        <div class="eggs">
            <ul class="egg">
                <li class="egg__title">23</li>
                <li class="egg__subtitle">Осуществлено поставок и монтажа блочных модульных котельных мощностью от 150кВт до 1500кВт на природном газе и угле</li>
            </ul>
            <ul class="egg">
                <li class="egg__title">4</li>
                <li class="egg__subtitle">Установлено блочно-модульных газовых котельных собственного производства</li>
            </ul>
            <ul class="egg">
                <li class="egg__title">34</li>
                <li class="egg__subtitle">Смонтировано котельных на твердом топливе и на природном газе</li>
            </ul>
            <ul class="egg">
                <li class="egg__title">>72</li>
                <li class="egg__subtitle">Котельных, на которых были произведены пуско-наладочные и режимно-наладочные работы</li>
            </ul>
            <ul class="egg">
                <li class="egg__title">>88</li>
                <li class="egg__subtitle">Объектов, на которых были выполнены работы по капитальному и текущему ремонтам внутренних и наружных систем теплоснабжения</li>
            </ul>
            <ul class="egg">
                <li class="egg__title">>18</li>
                <li class="egg__subtitle">Выполнено строительство подводящих газопроводов</li>
            </ul>
            <ul class="egg">
                <li class="egg__title">15</li>
                <li class="egg__subtitle">Отопительных сезонов производим и поставляем тепловую энергию для объектов соцкультбыта</li>
            </ul>
            <ul class="egg">
                <li class="egg__title">>61</li>
                <li class="egg__subtitle">Исполненных договоров на гидравлическое испытание и промывку систем отопления</li>
            </ul>

        </div>



    </div>

</section>