<footer class="footer">

    <footer class="footer__container  _container">

        <div class="footer__content  _content">

            <div class="footer-1b">
                <a class="footer-1b__logo">ТЕРМО-КРЫМ</a>
                <a class="footer-1b__description">Эксплуатация, техническое обслуживание, ремонт, монтаж котлов и
                    котельного оборудования в Крыму
                </a>
            </div>

            <div class="footer-2b">
                <ul>
                    <li>+7 988 970 70 40</li>
                    <li>+7 3652 54 85 58</li>
                    <li>termo.krym@mail.ru</li>
                </ul>

            </div>

            <div class="footer-3b">

                <ul class="footer-3b__contacts">

                    <li>пн-пт 09:00 – 17:00</li>
                    <li>295017, Россия, Крым,<br>г. Симферополь, <br>ул. Калинина 6</li>

                </ul>

                <button class="btn__footer">Связаться с нами</button>

            </div> <!-- footer-3b -->

        </div> <!-- footer__nav -->

        <div class="rights">
            <hr class="rights__line">
            <div class="rights__text">Все права защищены © 2003-2022 Группа компаний «Термо-Крым»</div>
        </div>

        </div> <!-- footer__container  _container-->

    </footer> <!-- footer -->