<section class="grade">

    <div class="grade__container  _container">

        <div class="grade__content  _content">
            <h3>
                Качество гарантировано
            </h3>
            <h4>
                Все сотрудники ООО "ТЕРМО-КРЫМ" систематически проходят обучение
            </h4>

            <div class="slider">

                <div class="slider__item"> 
                    <img src="../../assets/img/p01.jpg" alt="">
                </div>

                <div class="slider__item"> 
                    <img src="../../assets/img/p02.jpg" alt="">
                </div>

                <div class="slider__item"> 
                    <img src="../../assets/img/p03.jpg" alt="">
                </div>

                <div class="slider__item"> 
                    <img src="../../assets/img/p01.jpg" alt="">
                </div>

                <div class="slider__item"> 
                    <img src="../../assets/img/p02.jpg" alt="">
                </div>

                <div class="slider__item"> 
                    <img src="../../assets/img/p01.jpg" alt="">
                </div>

                <div class="slider__item"> 
                    <img src="../../assets/img/p02.jpg" alt="">
                </div>

                <div class="slider__item"> 
                    <img src="../../assets/img/p03.jpg" alt="">
                </div>

                <div class="slider__item"> 
                    <img src="../../assets/img/p01.jpg" alt="">
                </div>

                <div class="slider__item"> 
                    <img src="../../assets/img/p02.jpg" alt="">
                </div>


            </div> <!-- slick__slider -->

        </div>

        <p>Для Вас это значит качество, уверенность, безопасность и комфорт</p>
    </div>


</section>