<section class="grade">

    <div class="grade__container  _container">

        <div class="grade__content  _content">
            <h3>
                Качество гарантировано
            </h3>
            <h4>
                Все сотрудники ООО "ТЕРМО-КРЫМ" систематически проходят обучение
            </h4>

            <div class="proof__carousel">
                <img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt=""><img src="" alt="">
            </div>

        </div>

        <p>Для Вас это значит качество, уверенность, безопасность и комфорт</p>
    </div>


</section>