<nav class="nav">

    <!-- <div class="nav__container"> -->

    <div class="nav__content">

        <div class="logo">

            <img src="../../assets/img/logo-w-b.svg" alt="Логотип Термо-Крым">

        </div>

        <div class="menu">

            <a href="#" class="menu__link  menu__link__btn">Услуги</a>
            <a href="#" class="menu__link  menu__link__btn">Продукция ТермоБрест</a>
            <a href="#" class="menu__link  menu__link__btn">О компании</a>
            <a href="#" class="menu__link  menu__link__btn">Контакты</a>

            <a href="" class="email__link  menu__link__btn">{{ data.email }}</a>
        </div>



        <div class="phone">
            <a href="" class="phone__link">{{ data.tel-1 }}</a>
            <a href="" class="phone__link">{{ data.tel-2 }}</a>
        </div>

    </div> <!-- nav__content -->
    <!-- </div> nav__container -->
</nav> <!-- nav -->