<nav class="nav">

    <!-- <div class="nav__container"> -->

        <div class="nav__content">

            <div class="logo">

                <img src="../../assets/img/logo-w-b.svg" alt="">

            </div>

            <div class="menu">

                <a href="#" class="menu__link  menu__link__btn">Услуги</a>
                <a href="#" class="menu__link  menu__link__btn">Продукция ТермоБрест</a>
                <a href="#" class="menu__link  menu__link__btn">Наши объекты</a>
                <a href="#" class="menu__link  menu__link__btn">Контакты</a>

            </div>

            <div class="email">

                <a href="" class="email__link">termo.krym@mail.ru</a>

            </div>

            <div class="phone">

                <a href="" class="phone__link">+7 988 970 7040</a>
                <a href="" class="phone__link">+7 3652 548 558</a>

            </div>

        </div> <!-- nav__content -->
     <!-- </div> nav__container -->
</nav> <!-- nav -->