<section class="service">

    <div class="service__container  _container">

        <h3>Готовитесь к отопительному сезону ?</h3>

        <h4>Доверьте Ваше оборудование профессионалам</h4>

        <div class="service-block  _content">

            <div class="service-b1">

                <a class="tab__btn  _active" id="" href="#">01 Эксплуатация и техническое обслуживание</a>

                <a class="tab__btn " id="" href="#">02 Наладочные работы (режимные карты)</a>

                <a class="tab__btn " id="" href="#">03 Производство и поставка тепловой энергии</a>

                <a class="tab__btn " id="" href="#">04 Гидравлические испытания (опрессовка)</a>

                <a class="tab__btn " id="" href="#">05 Монтажные работы</a>

                <a class="tab__btn " id="" href="#">06 Подготовка к отопительному сезону</a>

                <a class="tab__btn " id="" href="#">07 Ремонт (замена)</a>

                <a class="tab__btn " id="" href="#">08 Проверка дымовентиляционного канала</a>

                <a class="tab__btn " id="" href="#">09 Промывка</a>

            </div><!-- service-b1 -->


            <div data-spollers data-one-spoller class="service-b2">

                <div class="block  block__1  tab__slide  active" id="">

                    <div class="block__item">
                        <button data-spoller tabindex="-1" type="button" class="block__title  _active">
                            Котельные и котельное оборудование</button>
                        <div class="">
                            <p>Газовом, угольном, электрическом и на жидком топливе</p>
                            <button class="service__button">Заказать услугу</button>
                        </div>
                    </div>

                    <div class="block__item">
                        <button data-spoller tabindex="-1" type="button" class="block__title">Теплообменное
                            оборудоание</button>
                        <div class="">
                            <p>
                                Текст о теплообменном борудовании
                            </p>
                            <button class="service__button">Заказать услугу</button>
                        </div>
                    </div>

                    <div class="block__item">
                        <button data-spoller tabindex="-1" type="button" class="block__title">Тепловое
                            борудование</button>
                        <div class="">
                            <p>Текст о наружном ивнутреннем котлах</p>
                            <button class="service__button">Заказать услугу</button>
                        </div>
                    </div>

                    <div class="block__item">
                        <button data-spoller tabindex="-1" type="button" class="block__title">Генераторы</button>
                        <div class="">
                            <p>Текст о дизельном и газовом видах котлах</p>
                            <button class="service__button">Заказать услугу</button>
                        </div>
                    </div>

                </div> <!-- block  block__1 -->

                <div class="block  block__2  tab__slide" id="">

                    <div class="block__item">
                        <button data-spoller tabindex="-1" type="button" class="block__title">
                            Котельные и котельное оборудование</button>
                        <div class="">
                            <p>Газовом, угольном, на жидком топливе</p>
                            <button class="service__button">Заказать услугу</button>
                        </div>
                    </div>

                    <div class="block__item">
                        <button data-spoller tabindex="-1" type="button" class="block__title">Химводоподготовка</button>
                        <div class="">
                            <p>
                                текст о химводопоготовке
                            </p>
                            <button class="service__button">Заказать услугу</button>
                        </div>
                    </div>

                    <div class="block__item">
                        <button data-spoller tabindex="-1" type="button" class="block__title">Тепловые
                            пункты</button>
                        <div class="">
                            <p>Текст о тепловых пунктах</p>
                            <button class="service__button">Заказать услугу</button>
                        </div>
                    </div>

                    <div class="block__item">
                        <button data-spoller tabindex="-1" type="button" class="block__title">Тепловые сети</button>
                        <div class="">
                            <p>Текст о тепловых сетях</p>
                            <button class="service__button">Заказать услугу</button>
                        </div>
                    </div>

                </div> <!-- block  block__2 -->

            </div> <!-- service-b2  block -->

        </div> <!-- service-block  _content -->

    </div> <!-- service__container  _container -->

</section> <!-- service -->