<section class="service">

    <div class="service__container  _container">

        <h3>Готовитесь к отопительному сезону ?</h3>

        <h4>Доверьте Ваше оборудование профессионалам</h4>

        <div class="service-block  _content">

            <div class="service-block-left">

                <button class="b01">#1 Эксплуатация и техническое обслуживание
                </button><!-- b01 -->

                <button class="b02">#2 Наладочные работы (режимные карты)
                </button><!-- b02 -->

                <button class="b03">#3 Производство и поставка тепловой энергии
                </button><!-- b03 -->

                <button class="b04">#4 Гидравлические испытания (опрессовка)
                </button><!-- b04 -->

                <button class="b05">#5 Монтажные работы
                </button><!-- b05 -->

                <button class="b06">#6 Подготовка к отопительному сезону
                </button><!-- b06 -->

                <button class="b07">#7 Ремонт (замена)
                </button><!-- b07 -->

                <button class="b08">#8 Проверка дымовентиляционного канала
                </button><!-- b08 -->

                <button class="b09">#9 Промывка
                </button><!-- b09 -->

            </div> <!-- service-block-left -->

            <div class="service-block-right">
                <a href="">333</a>
            </div>

        </div> <!-- service-block  _content -->

    </div> <!-- service__container  _container -->

</section> <!-- service -->