<section class="service">

    <div class="service__container  _container">

        <h3>Готовитесь к отопительному сезону ?</h3>

        <h4>Доверьте Ваше оборудование профессионалам</h4>

        <div class="service-block  _content">

            <div class="service-block-left">

                <button class="b01  tab__btn  active">01 Эксплуатация и техническое обслуживание
                </button><!-- b01 -->

                <button class="b02  tab__btn">02 Наладочные работы (режимные карты)
                </button><!-- b02 -->

                <button class="b03  tab__btn">03 Производство и поставка тепловой энергии
                </button><!-- b03 -->

                <button class="b04  tab__btn">04 Гидравлические испытания (опрессовка)
                </button><!-- b04 -->

                <button class="b05  tab__btn">05 Монтажные работы
                </button><!-- b05 -->

                <button class="b06  tab__btn">06 Подготовка к отопительному сезону
                </button><!-- b06 -->

                <button class="b07  tab__btn">07 Ремонт (замена)
                </button><!-- b07 -->

                <button class="b08  tab__btn">08 Проверка дымовентиляционного канала
                </button><!-- b08 -->

                <button class="b09  tab__btn">09 Промывка
                </button><!-- b09 -->

            </div> <!-- service-block-left -->

            <div class="service-block-right">

                <div class="c01  tab__slide  active">
                    <h5>01</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt dicta enim, officiis sed
                        quod et in animi? Quibusdam cumque perspiciatis voluptates porro, nesciunt quia cupiditate quam
                        cum ipsam quod!</p><br>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto neque dolore optio
                        explicabo, sapiente quo, modi excepturi natus officia delectus nam voluptas id facere nisi
                        recusandae nulla laudantium fugiat!</p>

                    <button href="">Оставить заявку</button>
                </div>

                <div class="c02  tab__slide">
                    <h5>02</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt dicta enim, officiis sed
                        quod et in animi? Quibusdam cumque perspiciatis voluptates porro, nesciunt quia cupiditate quam
                        cum ipsam quod!</p>
                    <br>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto neque dolore optio
                        explicabo, sapiente quo, modi excepturi natus officia delectus nam voluptas id facere nisi
                        recusandae nulla laudantium fugiat!</p>
                    <button href="">Оставить заявку</button>
                </div>

                <div class="c03  tab__slide">
                    <h5>03</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt dicta enim, officiis sed
                        quod et in animi? Quibusdam cumque perspiciatis voluptates porro, nesciunt quia cupiditate quam
                        cum ipsam quod!</p>
                    <br>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto neque dolore optio
                        explicabo, sapiente quo, modi excepturi natus officia delectus nam voluptas id facere nisi
                        recusandae nulla laudantium fugiat!</p>
                    <button href="">Оставить заявку</button>
                </div>

                <div class="c04  tab__slide">
                    <h5>04</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt dicta enim, officiis sed
                        quod et in animi? Quibusdam cumque perspiciatis voluptates porro, nesciunt quia cupiditate quam
                        cum ipsam quod!</p>
                    <br>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto neque dolore optio
                        explicabo, sapiente quo, modi excepturi natus officia delectus nam voluptas id facere nisi
                        recusandae nulla laudantium fugiat!</p>
                    <button href="">Оставить заявку</button>
                </div>

                <div class="c05  tab__slide">
                    <h5>05</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt dicta enim, officiis sed
                        quod et in animi? Quibusdam cumque perspiciatis voluptates porro, nesciunt quia cupiditate quam
                        cum ipsam quod!</p>
                    <br>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto neque dolore optio
                        explicabo, sapiente quo, modi excepturi natus officia delectus nam voluptas id facere nisi
                        recusandae nulla laudantium fugiat!</p>
                    <button href="">Оставить заявку</button>
                </div>

                <div class="c06  tab__slide">
                    <h5>06</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt dicta enim, officiis sed
                        quod et in animi? Quibusdam cumque perspiciatis voluptates porro, nesciunt quia cupiditate quam
                        cum ipsam quod!</p>
                    <br>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto neque dolore optio
                        explicabo, sapiente quo, modi excepturi natus officia delectus nam voluptas id facere nisi
                        recusandae nulla laudantium fugiat!</p>
                    <button href="">Оставить заявку</button>
                </div>

                <div class="c07  tab__slide">
                    <h5>07</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt dicta enim, officiis sed
                        quod et in animi? Quibusdam cumque perspiciatis voluptates porro, nesciunt quia cupiditate quam
                        cum ipsam quod!</p>
                    <br>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto neque dolore optio
                        explicabo, sapiente quo, modi excepturi natus officia delectus nam voluptas id facere nisi
                        recusandae nulla laudantium fugiat!</p>
                    <button href="">Оставить заявку</button>
                </div>

                <div class="c08  tab__slide">
                    <h5>08</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt dicta enim, officiis sed
                        quod et in animi? Quibusdam cumque perspiciatis voluptates porro, nesciunt quia cupiditate quam
                        cum ipsam quod!</p>
                    <br>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto neque dolore optio
                        explicabo, sapiente quo, modi excepturi natus officia delectus nam voluptas id facere nisi
                        recusandae nulla laudantium fugiat!</p>
                    <button href="">Оставить заявку</button>
                </div>

                <div class="c09  tab__slide">
                    <h5>09</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sunt dicta enim, officiis sed
                        quod et in animi? Quibusdam cumque perspiciatis voluptates porro, nesciunt quia cupiditate quam
                        cum ipsam quod!</p>
                    <br>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto neque dolore optio
                        explicabo, sapiente quo, modi excepturi natus officia delectus nam voluptas id facere nisi
                        recusandae nulla laudantium fugiat!</p>
                    <button href="">Оставить заявку</button>
                </div>

            </div>

        </div> <!-- service-block  _content -->

    </div> <!-- service__container  _container -->

</section> <!-- service -->